:host {
  .mat-column-position {
    border-right: 1px solid lightgray;
    text-align: center;
  }


  td.mat-column-name {
    font-size: 1.1rem;
    font-style: italic;
  }

  .inactive {
    color: darkgray;
  }
}
