<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let user"> {{ user.position || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let user"> {{ getName(user) }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let user">
      <mat-form-field appearance="fill">
        <mat-select
          [disabled]="isGameOn()"
          [value]="user.type"
          (selectionChange)="onUserTypeChanged($event.value,user)"
        >
          <mat-option *ngFor="let type of userTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role</th>
    <td mat-cell *matCellDef="let user"> {{ getRole(user) }}</td>
  </ng-container>

  <ng-container matColumnDef="open">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let user">
      <button [hidden]="!user.role?.length" [disabled]="!isMaster() || user.opened" mat-icon-button matTooltip="Open player card" (click)="openPlayerCard(user)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> Note</th>
    <td mat-cell *matCellDef="let user">
      <mat-form-field>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
